<div style="padding-top: 50px;" class=" container d-flex justify-content-center">
<div style="padding-left: 100px; width: 1200px;" class="left">
            <h3>Sales Report</h3><br>
            <h5  style="color: rgb(4, 176, 113);">{{range}}</h5>
            <div style=" display: flex; justify-content: end;">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Filter By Date
       </button>
              <a type="button" class="btn btn-outline-success ml-2" href="/admin/sales?range=week">Weekly</a>
              <a type="button" class="btn btn-outline-success ml-2" href="/admin/sales?range=month">Monthly</a>
              <a type="button" class="btn btn-outline-success ml-2" href="/admin/sales?range=year">Yearly</a>
            </div>
            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Date</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/admin/date-filter" method="post">
      <div class="modal-body">
          <label for="start-date">From:</label>
          <input type="date" name="startDate"><br>
          
          <label for="end-date" style="padding-left: 23px; "> To:</label>
          <input type="date" name="endDate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
       </form>
    </div>
  </div>
</div>
{{!-- modal end --}}
            <div class="table-responsive">
              <table class="table mt-3" id="myTable">
                <thead class="thead-dark">
                  <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>User</th>
                    <th>Product Name</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each sales}}
                  <tr>
                    <td value="{{this._id}}">{{this._id}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.deliveryDetails.userName}}</td>
                    <td>{{this.products.[0].itemName}}</td>
                    <td>{{this.totalAmount}}</td>
                    <td>{{this.status}}</td>
                    
                  </tr>
                  {{/each}}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Grand Total  :</b></td>
                    <td><b>{{sumTotalAmount}}</b></td>
                    
                    
                  </tr>
                </tbody>
              </table>
            </div>
            <div>

              <div class="btn-group d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info " onclick="exportToExcel()" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Download
                </button>
               
              </div>
            </div>
          </div>
          </div>
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" ></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js"
    integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"
    integrity="sha512-Qlv6VSKh1gDKGoJbnyA5RMXYcvnpIqhO++MhIM2fStMcGT9i2T//tSwYFlcyoRRDcDZ+TYHpH8azBBCyhpSeqw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function exportToExcel() {
      const htmlTable = document.getElementById('myTable')
      const workbook = new ExcelJS.Workbook();
      const worksheet = workbook.addWorksheet('User Data');
      const headerRow = worksheet.addRow([])

      const headerCells = htmlTable.getElementsByTagName('th')

      for (let i = 0; i < headerCells.length; i++) {
        headerRow.getCell(i + 1).value = headerCells[i].innerText
      }

      const rows = htmlTable.getElementsByTagName('tr')

      for (let i = 0; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td')
        const rowData = []
        for (let j = 0; j < cells.length; j++) {
          rowData.push(cells[j].innerText)
        }
        worksheet.addRow(rowData)
      }
      workbook.xlsx.writeBuffer().then((buffer) => {
        const blob = new Blob([buffer], {
          type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        })
        saveAs(blob, "output.xlsx")
      })
    }
  </script>