<style>
  .table-container { margin-top: 20px; /* Adjust the margin as needed */ }
  .pagination-container { margin-top: 20px; /* Adjust the margin as needed */
  display: flex; justify-content: center; } .card { box-shadow: 0 4px 8px 0
  rgba(0, 0, 0, 0.2); } .card-body { padding: 1rem; } .table-container {
  max-height: 480px; overflow-y: auto; } @media (max-width: 576px) {
  .table-responsive-sm { display: block; width: 100%; overflow-x: auto;
  -webkit-overflow-scrolling: touch; -ms-overflow-style:
  -ms-autohiding-scrollbar; } }
</style>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>

<section style='padding-left: 150px;'>
  <div class='container'>

    <div class='card mt-4'>
      <div class='card-body'>
        <div class='table-container table-responsive-sm'>
          <table class='table'>
            <thead class='thead-dark'>
              <tr>
                <th scope='col'>➩</th>
                <th scope='col'>Product</th>
                <th scope='col'>Address</th>
                <th scope='col'>Total Amount</th>
                <th scope='col'>PaymentMethod</th>
                <th scope='col'>Status</th>
                <th scope='col'>Updates</th>
                <th scope='col'></th>
              </tr>
            </thead>
            <tbody>
              {{#each usersOrders}}
                <tr>
                  <th scope='row'>.</th>
                  <td>
                    {{#each products}}
                      *
                      {{this.itemName}}
                      <br />
                    {{/each}}
                  </td>
                  <td>{{this.deliveryDetails.address}}</td>
                  <td>{{this.totalAmount}}</td>
                  <td>{{this.paymentMethod}}</td>

                  {{#if (eq status 'Cancelled')}}
                    <td style='color:red;'><b>{{this.status}}</b></td>
                  {{else if (eq status 'Shipped')}}
                    <td style='color: #d6e811;'><b>{{this.status}}</b></td>
                  {{else if (eq this.status 'placed')}}
                    <td style='color: #10ace9;'><b>{{this.status}}</b></td>
                  {{else if (eq this.status 'Delivered')}}
                    <td style='color: #0cd327;'><b>{{this.status}}</b></td>
                  {{else if (eq this.status 'Return')}}
                    <td style='color: #d30c0f;'><b>{{this.status}}ed</b></td>
                  {{/if}}

                  <td>
                    {{#if (eq this.status 'placed')}}
                      <button
                        style='font-size: x-small;'
                        class='btn btn-outline-success'
                        onclick="showShippedConfirmation('{{this._id}}')"
                      >Shipped</button>
                    {{/if}}
                    {{#if (eq this.status 'Shipped')}}
                      <button
                        style='font-size: x-small;'
                        class='btn btn-outline-success'
                        onclick="showDeliveredConfirmation('{{this._id}}')"
                      >Delivered</button>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class='d-flex flex-row-reverse mt-3'>
      <form class='form-inline' action='/admin/user-order' method='post'>
        <input
          style='width: 15rem;'
          class='form-control mr-sm-2'
          type='search'
          name='search'
          placeholder='Search'
          aria-label='Search'
        />
        <button
          class='btn btn-outline-success my-2 my-sm-0'
          type='submit'
        >Search</button>
      </form>
    </div>

    <nav aria-label='Page navigation example' class='pagination-container'>
      <ul class='pagination justify-content-center'>

        <li class='page-item'><a
            class='page-link'
            href='/admin/user-order?p=1'
          >1</a></li>
        <li class='page-item'><a
            class='page-link'
            href='/admin/user-order?p=2'
          >2</a></li>
        <li class='page-item'><a
            class='page-link'
            href='/admin/user-order?p=3'
          >3</a></li>

      </ul>
    </nav>
  </div>
</section>
<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>

<script>
  function showShippedConfirmation(orderId) { Swal.fire({ title: 'Are you
  sure?', text: 'You are about to mark this order as Shipped.', icon:
  'question', showCancelButton: true, confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33', confirmButtonText: 'Yes, mark as Shipped'
  }).then((result) => { if (result.isConfirmed) { window.location.href =
  '/admin/status-change?id=' + orderId + '&st=Shipped'; } }); } function
  showDeliveredConfirmation(orderId) { Swal.fire({ title: 'Are you sure?', text:
  'You are about to mark this order as Delivered.', icon: 'question',
  showCancelButton: true, confirmButtonColor: '#3085d6', cancelButtonColor:
  '#d33', confirmButtonText: 'Yes, mark as Delivered' }).then((result) => { if
  (result.isConfirmed) { window.location.href = '/admin/status-change?id=' +
  orderId + '&st=Delivered'; } }); }
</script>