<!-- Example cart container -->
<div style="padding-top: 150px;" class="cart-container ">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <form action="/edit-address?id={{Address._id}}" method="post">
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input type="text" id="fullName" value="{{Address.address.name}}" name="firstname" class="form-control" required>
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea id="address" name="address" class="form-control" required>{{Address.address.address}}</textarea>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="zipCode" class="form-label">Pin Code</label>
                <input type="number" id="zipCode" value="{{Address.address.pincode}}" name="pincode" class="form-control" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="mobileNo" class="form-label">Mobile No.</label>
                <input type="number" id="mobileNo" value="{{Address.address.phone}}" name="phone" class="form-control" required>
              </div>
            </div>
            <div class="modal-footer">
              <a href="/user-profile" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
              <button type="submit" class="btn btn-primary">Save Address</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>