






<div style="padding-top: 100px;" class="container">
  <div class="row mt-4">
    
  </div>

  <table class="table mt-5">
    <thead>
      <tr>
        <th>products Name</th>
        <th scope="col">Date</th>
        <th>Address</th>
        <th>Pincode</th>
        <th>Mobile</th>
        <th scope="col">Amount</th>
        <th scope="col">Payment</th>
        <th>Status</th>
         <th>Updates</th>
          <th>Updates</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>
            {{#each products}}
             {{this.itemName}}<br>
            {{/each}}
        </td>
        <td>{{this.date}}</td>
        <td>{{this.deliveryDetails.address}}</td>
        <td>{{this.deliveryDetails.pincode}}</td>
        <td>{{this.deliveryDetails.phone}}</td>
        {{#if (eq totalAmount 0)}}
        <td style="color: green;">Amount paid </td>
        {{else}}
        <td>{{this.totalAmount}}</td>
        {{/if}}
        <td>{{this.paymentMethod}}</td>
        {{#if (eq status 'Cancelled')}}
        <td style="color: red;"><b>{{this.status}}</b></td>
        {{else if (eq status 'placed')}}
        <td style="color: rgb(21, 190, 159);"><b>{{this.status}}</b></td>
        {{else if (eq this.status 'Shipped')}}
    <td style="color: rgb(206, 168, 14);"><b>{{this.status}}</b></td>
     {{else if (eq this.status 'Delivered')}}
    <td style="color: rgb(14, 206, 40);"><b>{{this.status}}</b></td>
     {{else if (eq this.status 'Return')}}
    <td style="color: rgb(206, 14, 14);"><b>{{this.status}}ed</b></td>
     {{/if}}
     {{#if (eq this.status 'Delivered')}}
         <td>
            <a href="/return-order?id={{this._id}}&st=Return" style="width: 7rem;" class="btn btn-danger"
              onclick="return ">Return</a>
         
     {{/if}}
       
       
       
        <td>
            <a href="/view-order-products/{{this._id}}" class="btn btn-outline-warning">view products</a>
        </td>
        <td>
            {{#if (eq this.status "placed")}}
            <a  href="/cancel-order?id={{this._id}}&&st=Cancelled" class="btn btn-outline-danger" type="button" >Cancel</a>
            {{/if}}
              {{#if (eq this.status "Shipped")}}
            <a  href="/cancel-order?id={{this._id}}&&st=Cancelled" class="btn btn-outline-danger" type="button" >Cancel</a>
            {{/if}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

