<style>
  body {
    background-color: white;
    
  overflow-x: hidden;

  }
  .card {
  overflow: hidden; /* or overflow: auto; */
}
  .row {
    padding-top: 50px;
  }
</style>
<div style="padding-top: 100px;" class="row">
  <!-- Existing Addresses Section -->
  <div class="col-md-6 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3" style="background-color: rgb(41, 40, 40);;">
        <h5 class="mb-0" style="color: white;">Existing Addresses</h5>
      </div>
      <div class="card-body" style="background-color: rgb(41, 40, 40);;">
        <!-- Address Cards -->
        <div class="row" style="background-color: rgb(41, 40, 40);">
           {{#each userAddresses}}
          <!-- Address 1 -->
          <div class="col-md-12 mb-3">
            <div class="card h-100" style="background-color: white">
              <div class="card-body">
                     
              <label class="form-check-label" for="address{{this.userId}}">
                <h4 class="card-title" style="color: black;">{{this.address.name}}</h4>
                <p class="card-text" style="color: black;">Address: {{this.address.address}}</p>
                 <h5 class="card-text" style="color: black;">mobile: {{this.address.phone}}</h5>
              </label>
           <div>
  <div class="d-flex justify-content-end" role="group" aria-label="Address Actions">
    <a href="/use_address?id={{this._id}}" class="btn btn-dark">Use </a>
    <a href="/delete-address?id={{this._id}}" type="button" class="btn btn-info ml-2 ms-1">Delete</a>
  </div>
</div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

        <!-- Add New Address Button -->
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#myModal">Add New Address</button>
          </div>
        </div>
      </div>
    </div>
              {{!-- coupon --}}
 {{!-- {{#if user.couponCodes}} --}}
 <div style="background-color: rgb(233, 230, 230);;" class="card-body d-flex justify-content-center">
               <div style="" class="form-outline d-flex justify-content-end">
                      <form action="">
                        {{!-- <input type="text" id="form1" class="form-control form-control-lg" /> --}}
                        <label  for="coupon"><strong>Apply Coupon:</strong></label>
                        <select style="width: 20rem;" class="form-control input-lg " id="coupon" name="coupon">
                           
                          {{#each user.couponCodes}}
                          <option>{{this.coupon}}</option>
                          {{/each}}
                          <!-- Add more options for additional coupons -->
                        </select>
                        <div class="row mt-3">
                          <div  class="col">
                            <button type="button" onclick="applyCoupon()"
                              class="btn btn-outline-dark btn-lg btn-block ">Apply</button>
                          </div>
                        </div>
                      </form>
                      {{!-- {{/if}} --}}
                      
                    </div>
                    </div>
                   
{{!-- coupon --}}
    {{!-- wallet start --}}
              <div class="card mb-4 mt-4">
               <div style="background-color:  rgb(41, 40, 40);" class="card-header py-3 d-flex justify-content-center">
    
    <h5 style="color: #ffffff;" class="mb-0">Wallet</h5>
  </div>
          <div style="background-color:rgb(237, 237, 237); color: #000000;    height: 116px;" class="balance ">
                      <h5 class="ml-3 mt-4 d-flex justify-content-center"> Wallet Balance: ₹ <span class="balance" id="wallet"
                          name="wallet">{{user.walletAmount}}</span>
                      </h5>
                      <div class=" container d-flex justify-content-center"><button type="button" onclick="walletApply('{{user._id}}', '{{user.walletAmount}}')"
                        class="btn btn-outline-dark btn-md btn-block" style="width: 147px; margin-left:;">Use Wallet</button></div>
                      
    
   
                    </div>
                  </div>
          {{!-- wallet end --}}
 
  </div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Add New Address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="modal-form" action="/add-new-address" method="post">
        
            <input type="text" id="fullName" name="firstname" class="form-control" required />
            <label class="form-label" style="color: black;">Full name</label>          
            <input type="text" id="address" name="address" class="form-control" required />
            <label class="form-label" style="color: black;">Address</label>          
            <input type="text" id="pincode" name="pincode" class="form-control" required />
            <label class="form-label" style="color: black;">Pincode</label>          
            <input type="text" id="mobile" name="phone" class="form-control" required />
            <label class="form-label" style="color: black;">Mobile number</label>   
            <input type="text" name="userId" value="{{user._id}}" hidden>       
      </div>    

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save Address</button>
      </div>
    </div>
  </div>
  </form>
</div>


{{#if userAddress}}
  <!-- Summary and Add Address Section -->
  <div class="col-md-6 mb-4">
    <div class="card mb-4">
      
      <div class="card-header py-3" style="background-color: rgb(41, 40, 40);">
        <h5 class="mb-0" style="color: white;">Address details</h5>
      </div>
      <div class="card-body" style="background-color: rgb(41, 40, 40);">
        <!-- Add Address Form -->
        <form  action="" id="checkout-form">
          <div class="form-outline mb-4">
            <input type="text" id="fullName" name="firstname" class="form-control " value="{{userAddress.address.name}}" required />
            <label class="form-label" style="color: white;">Full name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="address" name="address" class="form-control" value="{{userAddress.address.address}}" required />
            <label class="form-label" style="color: white;">Address</label>
          </div>
         
            <div class="form-outline mb-4">
            <input type="number" id="pincode" name="pincode" class="form-control" value="{{userAddress.address.pincode}}" required />
            <label class="form-label" style="color: white;">Pincode</label>
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="mobile" name="phone" class="form-control" value="{{userAddress.address.phone}}" required />
            <label class="form-label" style="color: white;">Mobile Number</label>
            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
          </div>
          
         
          <div class="col-md-6 mb-4 ms-auto">
            <div class="card mb-4">
              
              <div class="card-header py-3" style="background-color: white;">
                <h5 class="mb-0" style="color:black">Summary</h5>
              </div>
              <div class="card-body"  style="background-color: white;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: white; color:black">
                    Shipping
                    <span>Free</span>
                  </li>
                  <!-- Payment Methods -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: white; color:black">
                    Payment Method
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
                      <label class="form-check-label" >
                        COD
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method"  value="ONLINE">
                      <label class="form-check-label">
                        Online 
                      </label>
                    </div>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="background-color:white; color:black">
                    <div>
                      <strong>Total cart amount</strong>
                      <strong>
                        <p class="mb-0">(including GST)</p>
                      </strong>
                    </div>
                    <span><strong id="">₹{{total}}</strong></span>
                          {{!--  --}}
                   <li class="list-group-item border-0 px-0 mb-3">
        <div class="wallet-container">
                   
        <div class="d-flex flex-column">
         
          <div class="d-flex justify-content-between">
            <span><strong>Coupon savings:</strong></span>
            <span>₹<span  id="discount">0</span></span>
          </div>
           <div class="d-flex justify-content-between">
            <span><strong>Wallet savings:</strong></span>
            <span>₹<span id="walletdiscount">0</span></span>
          </div>
          <div class="d-flex justify-content-between">
            <span><strong>Amount Payable:</strong></span>
            <span>₹<span id="totalPrice">{{total}}</span></span>
          </div>
        </div>
      </li>
                  {{!--  --}}
                  </li>
                </ul>
              
         <input type="text" id="" name="orginalAmount" value="{{total}}" hidden>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place Order
                </button>
              </div>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>


{{else}}
<div class="col-md-6 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3" style="background-color: rgb(41, 40, 40);">
        <h5 class="mb-0" style="color: white;">Address details</h5>
      </div>
      <div class="card-body" style="background-color: rgb(41, 40, 40);;">
        <!-- Add Address Form -->
        <form  action="" id="checkout-form">
          <div class="form-outline mb-4">
            <input type="text" id="fullName" name="firstname" class="form-control" required />
            <label class="form-label" style="color: white;">Full name</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="address" name="address" class="form-control" required />
            <label class="form-label" style="color: white;">Address</label>
          </div>
         
            <div class="form-outline mb-4">
            <input type="number" id="pincode" name="pincode" class="form-control" required />
            <label class="form-label" style="color: white;">Pincode</label>
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="mobile" name="phone" class="form-control" required />
            <label class="form-label" style="color: white;">Mobile Number</label>
            <input type="text" name="userId" id="" value="{{user._id}}" hidden>
          </div>

          
          <div class="col-md-6 mb-4 ms-auto mt-2">
            <div class="card mb-4">
              <div class="card-header py-3" style="background-color: white;">
                <h5 class="mb-0" style="color:black">Summary</h5>
              </div>
              <div class="card-body"  style="background-color: white;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: white; color:black">
                    Shipping
                    <span>Free</span>
                  </li>
                  <!-- Payment Methods -->
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0" style="background-color: white; color:black">
                    Payment Method
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method" value="COD" checked>
                      <label class="form-check-label" >
                        COD
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment-method"  value="ONLINE">
                      <label class="form-check-label">
                        Online 
                      </label>
                    </div>
                  </li>
          
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3" style="background-color: white; color:black">
                   
                    <div>
                      <strong>Total Cart amount</strong>
                      <strong>
                        <p class="mb-0">(including GST)</p>
                      </strong>
                    </div>
                    <span id="totalAmount"><strong>₹{{total}}</strong></span>
                  </li>
                  {{!--  --}}
                   <li class="list-group-item border-0 px-0 mb-3">
        <div class="wallet-container">
                   
        <div class="d-flex flex-column">
         
          <div class="d-flex justify-content-between">
            <span><strong>Coupon savings:</strong></span>
            <span>₹<span id="discount">0</span></span>
          </div>
          <div class="d-flex justify-content-between">
            <span><strong>Wallet savings:</strong></span>
            <span>₹<span id="walletdiscount">0</span></span>
          </div>
          <div class="d-flex justify-content-between">
            <span><strong>Amount Payable:</strong></span>
            <span>₹<span id="totalPrice">{{total}}</span></span>
          </div>
        </div>
      </li>
                  {{!--  --}}
                </ul>
               
             
        <input type="text" id="" name="orginalAmount" value="{{total}}" hidden>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place Order
                </button>
              </div>
            </div>
          </div>
        </form>
         
      </div>
    </div>
    {{/if}}
  </div>
</div>
</div>
</div>
      

<script>
  const form = document.getElementById('checkout-form');


form.addEventListener('submit', function (event) {
    event.preventDefault();
    if (form.checkValidity()) {
      // Form is valid, perform form submission or further processing
      
    } else {
      // Form is invalid, show error messages or handle validation errors
      
    }
  });




$("#checkout-form").submit((e) => {
  e.preventDefault();
  $.ajax({
    url: '/place-order',
    method: 'post',
    data: $('#checkout-form').serialize(),
    success: (response) => {
   /*   Swal.fire({
        title: 'Are you sure!',
        text: response.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }).then((result) => {
      
        if (result.isConfirmed) {
          if (response.codSuccess) {
            location.href = '/order-success';
          } else {
            razorpayaPayment(response);
          }
        }
      });*/
        if (response.codSuccess) {
            location.href = '/order-success';
          } else {
            razorpayPayment(response);
          }
    }
  });
});

    function razorpayPayment(order){
      var options = {
    "key": "rzp_test_0rulWsfY3cqarB", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "CartWise",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
      
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9000090000"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
  };
  var rzp1 = new Razorpay(options);
   rzp1.open();
 }
 function verifyPayment(payment,order){
  $.ajax({
    url:'/verify-payment',
    data:{
      payment,
      order
    },
    method:'post',
    success:(response)=>{
      if(response.status){
         location.href='/order-success'
      }else{
        alert("payment failed")
      }
    }
  })
 }

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{!-- wallet and coupon ajax start --}}
<script>
  function walletApply(userId, wallet) {

    $.ajax({
      url: '/use-wallet',
      method: 'POST',
      data: {
        userId: userId,
        wallet: wallet
      },
      success: function (response) {
        document.getElementById('totalPrice').innerHTML = response.total
        document.getElementById('wallet').innerHTML = response.walletBalance
            document.getElementById('walletdiscount').innerHTML = wallet;
        
        
      }
    })
  }
  //----coupen---

  function applyCoupon() {
    var selectedCoupon = document.getElementById('coupon').value; // Get the selected coupon value

    // Perform further actions with the selected coupon
    console.log('Applying coupon:', selectedCoupon);
    $.ajax({
      url: '/apply-coupon',
      data: {
        coupon: selectedCoupon
      },
      method: 'post',
      success: (response) => {

       if (response.response) {
                Swal.fire({
            icon: 'success',
            title: 'Coupon Success',
            text: 'The coupon applied successfully.',
            toast: true,
            position: 'center',
            showConfirmButton: true
          });
          document.getElementById('discount').innerHTML = response.discountAmount
           document.getElementById('totalPrice').innerHTML = response.newTotal
      
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Coupon Expired',
            text: 'The coupon has expired.',
            toast: true,
            position: 'center',
            showConfirmButton: true
          });


        }
      }
    })
 }
</script>



