<style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    transition: transform 0.5s ease;
    opacity: 0; /* Initially hide the card */
    animation: fade-in 0.5s forwards; /* Apply the fade-in animation */
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .badge {
    font-size: 12px;
    padding: 5px 8px;
    background-color: #090a09;
    color: #fff;
    border-radius: 4px;
  }

  /* Fade-in animation */
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<div style="padding-top: 150px;" class="container">
  <div class="card">
    <div class="card-body">
      {{#each products}}
      <div class="row mb-3">
        <div class="col-md-2">
          <img class="card-img-top img-fluid" src="{{this.product.photos.[2].fileName}}" alt="Product Image">
        </div>
        <div class="col-md-3 pt-md-5">
          <span class="">Quantity: <b>{{this.quantity}}</b></span>
        </div>
        <div class="col-md-4 pt-md-5">
          <h5 class="card-title">{{this.product.Name}}</h5>
        </div>
        <div class="col-md-3 pt-md-5">
          <p class="card-text">Price: {{this.product.Price}}</p>
        </div>
      </div>
      <hr>
      {{/each}}
      
      <div class="d-flex flex-column justify-content-end">
        <div class="d-flex justify-content-between">
          <span><strong>Cart Total:</strong></span>
          <span>₹<span id="total">{{orders.deliveryDetails.cartAmount}}</span></span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Coupon savings:</strong></span>
          <span style="color: green;">-{{orders.deliveryDetails.couponDiscout}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Wallet savings:</strong></span>
          <span style="color: green;">-{{orders.deliveryDetails.walletAmount}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span><strong>Order Total:</strong></span>
          <span>₹<span id="totalPrice">{{orders.totalAmount}}</span></span>
        </div>
        <hr>
        <p>payment-method</p>
        <div class="d-flex justify-content-between">
          {{#if (eq orders.paymentMethod "COD")}}
          <span><strong>Cash on Delivery:</strong></span>
          <span style="color: green;">₹ {{orders.totalAmount}}</span>
          {{else}}
          <span><strong>Online:</strong></span>
          <span style="color: green;">₹ {{orders.totalAmount}}</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
